.nav {
  display: flex;
  width: 100vw;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.navLinkStyle {
  color: white;
  text-decoration: none;
  background-color: rgb(173, 107, 0);
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
